.about{
    background: #191919;
}
img.about__img{
    border-radius: 10px;
    width: 100%;
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat,sans-serif;
    font-size: 60px;
}
button.about.btn.pointer {
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4s ease;
}
.about__button{
    padding: 20px 0px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px){
    .p__color{
        font-size: 15px!important;
    }
}
@media only screen and (max-width: 770px){

    img.about__img{
        display: none;
     
    }
}
@media only screen and (max-width: 504px){
button.about.btn.pointer {
    text-transform: capitalize;
    width: 165px;
    height: 50px;
    font-size: 13px;
    transition: .4s ease;
}

}
@media only screen and (max-width: 426px){
button.about.btn.pointer {
    text-transform: capitalize;
    width: 135px;
    height: 50px;
    font-size: 13px;
    transition: .2s ease;
}

}
@media only screen and (max-width: 360px){
button.about.btn.pointer {
    text-transform: capitalize;
    width: 100px;
    height: 50px;
    font-size: 13px;
    transition: .2s ease;
}

}