.home__content img{
 
width: 300px;
height: 350px;
margin-left: 80px;

}
/* .home__img{
    background-color: aquamarine;
    margin: ;
} */

li.nav__items {
    font-size: 18px;
    padding-bottom: 15px;
}

.home__content {
    padding: 130px 0px;
    display: flex;
    
}

h1.home__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198, 201, 216, .75) ;
}

h2.home__text {
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

h3.home__text {
    font-size: 50px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    line-height: 40px;
}

h4.home__text {
    font-size: 50px;
    font-weight: 800;
    line-height: 40px;
    font-family: Montserrat, sans-serif;

}
.toggle__menu {
    display: none;
   
}

ul.sidebar.d__flex {
    display: none;
}
.navbar {
   margin: 4px auto;
}


/* RESPONSIVE */
@media only screen and (max-width: 1156px) {
    .home__content img{
 
       display: none;
        
        }
}
@media only screen and (max-width: 768px) {


    .navbar {
        display: none;
    }

    h2.white.pz__10 {
        font-size: 50px !important;
    }

    svg.bi.bi-justify.white.pointer {
        width: 30px;
        height: 30px;
    }

.ham img{
    width: 30px;
    height: 30px;
    
}   
    .toggle__menu {
        display: flex;
        justify-content: flex-end;
        float: right;
        z-index: 1000;
        width: 100%;
    }
    ul.sidebar.d__flex {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        position: fixed;
        right: 0%;
        background: #010101;
        justify-content: center;
        width: 200px;
        top: 0%;
        flex-direction: column;
    }
    li.sideNavbar{
        padding: 25px 30px;
    }


}

@media only screen and (max-width: 425px) {
    h2.home__text.pz__10 {
        font-size: 32px;
    }

    h3.sweet.pz__10 {
        font-size: 40px;
    }

    h1.home__text {
        font-size: 14px;
    }

    h4.home__text {
        font-size: 45px;
    }
}